<a href="https://colab.research.google.com/github/Juliodominguezcalderon/mapas/blob/master/Laboratorio_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importar la librería de panda
import pandas as pd

In [ ]:
#Asignarle a la variable df_main (Dataframe principal) la información del archivo
df_main = pd.read_csv("/content/dataset_banco.csv",delimiter=",")
#Visualizar los datos para validar que hayan cargado
print(df_main.head(5))

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no   2143.0     yes   no
1   44    technician   single  secondary      no     29.0     yes   no
2   33  entrepreneur  married  secondary      no      2.0     yes  yes
3   47   blue-collar  married    unknown      no   1506.0     yes   no
4   33       unknown   single    unknown      no      1.0      no   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may     261.0         1   -1.0         0  unknown  no
1  unknown    5   may     151.0         1   -1.0         0  unknown  no
2  unknown    5   may      76.0         1   -1.0         0  unknown  no
3  unknown    5   may      92.0         1   -1.0         0  unknown  no
4  unknown    5   may     198.0         1   -1.0         0  unknown  no

In [ ]:
#Conocer los tipo de datos de las columnas
df_main.dtypes

age            int64
job           object
marital       object
education     object
default       object
balance      float64
housing       object
loan          object
contact       object
day            int64
month         object
duration     float64
campaign       int64
pdays        float64
previous       int64
poutcome      object
y             object
dtype: object

In [ ]:
#Crear una copia fidelidad de dataframe cargado para iniciar las transformaciones
df_copy=df_main.copy()

In [ ]:
#contar la cantidad de filas y columnas del dataframe
print(df_copy.shape)
print(df_main.shape)

(45215, 17)
(45215, 17)

In [ ]:
#contar la cantidad de filas por columnas del dataframe
df_copy.count()

age          45215
job          45213
marital      45214
education    45214
default      45215
balance      45213
housing      45215
loan         45215
contact      45215
day          45215
month        45215
duration     45214
campaign     45215
pdays        45214
previous     45215
poutcome     45215
y            45215
dtype: int64

In [ ]:
df_copy.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no

In [ ]:
#Renombrar el nombre de las columnas del dataframe
df_copy = df_copy.rename(columns={
                              'age':'edad',
                              'job':'trabajo',
                              'marital':'estado civil',
                              'education':'educacion',
                              'default':'morosidad',
                              'balance':'saldo',
                              'housing':'vivienda',
                              'loan':'prestamo',
                              'contact':'contacto',
                              'day':'dia',
                              'month':'mes',
                              'duration':'duracion',
                              'campaign':'campaña',
                              'pdays':'dias_previos',
                              'previous':'cantidad de contactos anteriores',
                              'poutcome':'resultado',
                              'y':'repuesta'
                              })
df_copy.head(5)

,edad,trabajo,estado civil,educacion,morosidad,saldo,vivienda,prestamo,contacto,dia,mes,duracion,campaña,dias_previos,anterior,resultado,repuesta
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no